.header {
  width: 100%;
  display: flex;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
}
.header_link__home {
  position: relative;
  left: 0;
  margin-right: auto;
}

.header_link {
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
  padding: 10px;
}

.header_link:last-child {
  border-right: none;
  margin-right: auto;
}

.header_link__main {
  font-size: 34pt;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }
  .header_link__home {
    margin-right: 0;
  }
  .header_link:last-child {
    margin-right: 0;
  }
}
